/*
 * navbar fixes
 */
@media (min-width: 979px) {
    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block !important;
    }
}

.navbar-inverse .navbar-nav .active{
    background-color: #080808 !important;
    color: #fff !important;
}

.navbar-default .navbar-nav .active{
    background-repeat: repeat-x !important;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5) inset !important;
}

.navbar-default{
    background: linear-gradient(0deg,rgba(0,0,0,0) 0,rgba(0,0,0,.5) 100%) !important;
}

.navbar-brand{
    padding-left: 15px !important;
    padding-top: 0px !important;
}

/* CODEMIRROR */
.CodeMirror-cursor {
    width: auto !important;
    border: 0 !important;
    background: transparent !important;
    background: rgba(0, 200, 0, .4) !important;
}

/*
 * App fixes
 */
input[class~="ng-dirty"] ~ label span[class~="warn-visible"] {
/*input[class~="my-dirty"] ~ label span[class~="warn-visible"] { */
    display: inline-block !important;
}

body {
    padding-top: 50px;
}

.main .simple-header {
    margin-top: -15px !important;
}

.divider {
    height: 1px;
    width:100%;
    display:block; /* for use on default inline elements like span */
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

/*
 * Dropdown fixes
 */

.dropdown-200{
    display: none;
    max-height: 201px;
    overflow-y: auto;
    min-height: 0px;
}

/*
 * List sizes
*/

.searchable-list{
    overflow-y: auto;
}

.testcase-test-list{
    max-height: 220px;
}

.combo-testcase-list{
    max-height: 330px;
}

.medium-list{
    max-height: 460px;
}

.long-list{
    height: 950px;
}

/*
* pretty list with highlight
*/
.list-pretty {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.list-pretty > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.list-pretty > .active > a,
.list-pretty > .active > a:hover,
.list-pretty > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

.text-nooverflow{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*.form-control.ng-dirty{
    color: rgba(73, 73, 73, 0.67) !important;
}*/

.popover{
    max-width: 100% !important;
}

.tooltipWithXml .tooltip-inner {
    white-space:pre-wrap !important;
    width: 350px !important;
    max-width: 350px !important;
    text-align: left !important;
}

.tooltipWithXml2 .tooltip-inner {
    white-space:pre-wrap !important;
    width: 750px !important;
    max-width: 750px !important;
    text-align: left !important;
}
